html {
  background: #dddddd;
}

/*div[id="headLeft"]+div[id="headMain"]+div[photo]+div[id="personData"]+div[id="mainLeft"]+div[id="mainContent"]+div[id="footer"]*/
#mainOuterContainer{
  position: absolute;
  top : 5%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  border-radius: 15px;
  padding-left: 20px;
  display : inline-block;
}

#headLeft{
  position: relative;
  top: 0;
  left: 0;
  width: 30%;
  height: 200px;
  background: #dddddd;
  border-radius: 15px;
  color: #555555;
}

#headMain{
  position: relative;
  top: -200px;
  left: 30%;
  right: 10%;
  width: 70%;
  height: 100px;
  background: #666666;
  border-radius: 15px;
  color: white;
  font-size: 36px;
  text-align: center;
  border: solid #dddddd;
}

#photo{
  position: relative;
  top: -180px;
  width: 30%;
  height: 200px;
  background: #dddddd;
  text-align: center;
  border-radius: 15px;

}
#photoInside{
  display : inline-block;
}

#cvPhoto{
  border-radius: 15px;
  top: 50px;
}

#personData {
  position: relative;
  top: -400px;
  left: 30%;
  width: 70%;
  height: 200px;
  background: #666666;
  border-radius: 15px;
  border: dotted red;
  color: #dddddd;
}

#mainLeft{
  position: relative;
  top: -400px;
  width: 30%;
  height: 700px;
  background: #dddddd;
  border-radius: 15px;
  color: #555555;
}

#mainContainer{
  position: relative;
  top: -1100px;
  left: 30%;
  width: 70%;
  height: 700px;
  background: #666666;
  border-radius: 15px;
  border: solid #dddddd;
  color: #dddddd;
}

.caption{
  position: absolute;
  color: white;
  background: black;
  width: 200px;
  border-radius: 80px;
  border: solid #888888;
  font-size: 20px;
  text-align: center;
}

#footer {
  position: relative;
  top: -1100px;
  width: 100%;
  height: 20px;
  background: #666666;
  text-align: center;
  border-radius: 15px;
  border: solid #dddddd;
  color: white;
}

#cop {
  color: yellow;
}

.firstLetter {
  color: red;
  font-size: 20px;
}
